body.p {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
}
p.oblique {
    font-style: oblique;
    text-align: center;
}
p.warning {
  font-style: italic;
  font-size: 30 px;
  text-align: center;
}
