body.p {
    font-family: "Times New Roman", Times, serif;
}
p.oblique {
    font-style: oblique;
}
p.warning {
  font-style: italic;
  font-size: 30 px;
}
body {
    display: inline-block;
    margin: 0px auto;
    text-align: center;
}
